%!TEX TS-program = xelatex
%!TEX encoding = UTF-8 Unicode
% Awesome CV LaTeX Template for CV/Resume
%
% This template has been downloaded from:
% https://github.com/posquit0/Awesome-CV
%
% Author:
% Claud D. Park <posquit0.bj@gmail.com>
% http://www.posquit0.com
%
% Template license:
% CC BY-SA 4.0 (https://creativecommons.org/licenses/by-sa/4.0/)
%


%-------------------------------------------------------------------------------
% CONFIGURATIONS
%-------------------------------------------------------------------------------
% A4 paper size by default, use 'letterpaper' for US letter
\documentclass[11pt, a4paper]{awesome-cv}

% Configure page margins with geometry
\geometry{left=1.4cm, top=.8cm, right=1.4cm, bottom=1.8cm, footskip=.5cm}

% Specify the location of the included fonts
\fontdir[fonts/]

% Color for highlights
% Awesome Colors: awesome-emerald, awesome-skyblue, awesome-red, awesome-pink, awesome-orange
%                 awesome-nephritis, awesome-concrete, awesome-darknight
\colorlet{awesome}{awesome-emerald}
% Uncomment if you would like to specify your own color
% \definecolor{awesome}{HTML}{CA63A8}

% Colors for text
% Uncomment if you would like to specify your own color
% \definecolor{darktext}{HTML}{414141}
% \definecolor{text}{HTML}{333333}
% \definecolor{graytext}{HTML}{5D5D5D}
% \definecolor{lighttext}{HTML}{999999}

% Set false if you don't want to highlight section with awesome color
\setbool{acvSectionColorHighlight}{true}

% If you would like to change the social information separator from a pipe (|) to something else
\renewcommand{\acvHeaderSocialSep}{\quad\textbar\quad}


%-------------------------------------------------------------------------------
%	PERSONAL INFORMATION
%	Comment any of the lines below if they are not required
%-------------------------------------------------------------------------------
% Available options: circle|rectangle,edge/noedge,left/right
% \photo{./examples/profile.png}
\name{{~.Me.FirstName | LatexEscape ~}}{{~.Me.LastName | LatexEscape ~}}
\position{{~ .Title | LatexEscape ~}}
\address{{~ .Me.Location.Address | LatexEscape ~}, {~ .Me.Location.PostalCode ~} {~ .Me.Location.City | LatexEscape  ~}, {~ .Me.Location.CountryCode | LatexEscape ~}}

\mobile{{~ .Me.Contact.Mobile | LatexEscape ~}}
\email{{~ .Me.Contact.Email | LatexEscape ~}}
\homepage{{~ .Me.Contact.Website | LatexEscape ~}}
{~ if .Me.HasProfile "github" ~}\github{{~ (index .Me.Profiles "github").Username | LatexEscape ~}}{~end~}
{~ if .Me.HasProfile "linkedin" ~}\linkedin{{~ (index .Me.Profiles "linkedin").Username | LatexEscape ~}}{~end~}
{~ if .Me.HasProfile "gitlab" ~}\gitlab{{~ (index .Me.Profiles "gitlab").Username | LatexEscape ~}}{~end~}
{~ if .Me.HasProfile "stackoverflow" ~}\stackoverflow{{~ (index .Me.Profiles "stackoverflow").Username | LatexEscape ~}}{~end~}
{~ if .Me.HasProfile "twitter" ~}\twitter{{~ (index .Me.Profiles "twitter").Username | LatexEscape ~}}{~end~}
{~ if .Me.HasProfile "skype" ~}\skype{{~ (index .Me.Profiles "skype").Username | LatexEscape ~}}{~end~}
{~ if .Me.HasProfile "reddit" ~}\reddit{{~ (index .Me.Profiles "reddit").Username | LatexEscape ~}}{~end~}

\quote{``{~ .Quote | LatexEscape ~}"}

%-------------------------------------------------------------------------------
\begin{document}

% Print the header with above personal informations
% Give optional argument to change alignment(C: center, L: left, R: right)
\makecvheader

% Print the footer with 3 arguments(<left>, <center>, <right>)
% Leave any of these blank if they are not needed
\makecvfooter
  {\today}
  {{~ .Me.FirstName | LatexEscape ~} {~ .Me.LastName | LatexEscape ~}~~~·~~~Curriculum Vitae}
  {\thepage}

%-------------------------------------------------------------------------------
\cvsection{Experience}

\begin{cventries}

{~ range .Companies ~}
  %---------------------------------------------------------
  {~ $org := . ~}
  {~ range .Positions ~}
    \cventry
      {{~ .Title | LatexEscape ~}} % Job title
      {{~ $org.Title | LatexEscape ~}} % Organization
      {{~ $org.Location.City | LatexEscape ~}, {~ $org.Location.CountryCode | LatexEscape ~}} % Location
      {{~ .DateRange ~}} % Date(s)
      {
        \begin{cvitems} % Description(s) of tasks/responsibilities
        {~ range .Highlights~}  \item {{~ . | LatexEscape ~}}
        {~end~}\end{cvitems}
      }
  {~end~}
{~end~}

\end{cventries}
%-------------------------------------------------------------------------------
\cvsection{Education}

\begin{cventries}

{~ range .Education ~}
  %---------------------------------------------------------
  {~ $sch := . ~}
  {~ range .Diplomas ~}
    \cventry
      {{~ .Title | LatexEscape ~}} % Degree
      {{~ $sch.School | LatexEscape ~}} % Institution
      {{~ $sch.Location.City | LatexEscape ~}, {~ $sch.Location.CountryCode | LatexEscape ~}} % Location
      {{~ .ParsedEndDate.Year ~}} % Date(s)
      {
        \begin{cvitems} % Description(s)
        {~ range .Courses~}  \item {{~ . | LatexEscape ~}}
        {~end~}\end{cvitems}
      }
  {~end~}
{~end~}

\end{cventries}
%-------------------------------------------------------------------------------
\cvsection{Skills}

\begin{cvskills}

%---------------------------------------------------------
{~ range .SkillSets ~}
  \cvskill
    {{~ .Category | LatexEscape ~}} % Category
    {{~ range $key, $value := .Skills ~}{~ $key  | LatexEscape ~}; {~end~}} % Skills
%---------------------------------------------------------
{~end~}

\end{cvskills}
%-------------------------------------------------------------------------------
\end{document}
